body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(39, 34, 32);
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.double_back_icon {
  width: 20px;
  cursor: pointer;
}

.arrow_right_icon {
  width: 30px;
  color: white;
  cursor: pointer;
}

.error {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  color: white;
  margin-top: 3em;
  margin-bottom: 1em;
}

.error button {
  width: 30%;
  margin-top: 1em;
  padding: 0.5em;
}
